<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
<br>
<br>
<br>
    <h1 class='page-heading'>All Albums</h1>
    <div class="albums">
    <% data.forEach( (album, index) => { %>
        <div class="modal fade" id="editAlbum-<%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Edit Album</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/albums/<%= album.name%>?_method=PUT" method="POST">
                        <div class="flex-center">
                            <img class="album-image-modal" src="<%=album.images[0].url%>">
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for='name'>Album Name</label>
                                <input class="form-control" type='text' name='name' value="<%=album.name%>" maxlength="12"required/>
                            </div>
                            <div class="form-group">
                                <label for='description'>Album Description</label>
                                <input class="form-control" type='text' name='description' value="<%=album.description%>" maxlength="50" required/>
                            </div>
                            <div class="form-group">
                                <label for='comment'>Cover Image Description</label>
                                <input class="form-control" type='text' name='comment' value="<%=album.images[0].comments[0].comment%>" required/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update Album</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="album-card">
                <% if(currentUser.username === album.owner){ %>
                    <div class ="album-container-heading">
                        <div class="btn-group">    
                            <a href="/albums/<%= album.name%>" class="btn album-name-btn"><%=album.name%></a>
                            <button type="button" class="btn dropdown-toggle px-3 album-name-edit-btn" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/albums/<%= album.name%>">View</a>
                                <button type="button" class="dropdown-item"
                            data-toggle="modal" data-target="#editAlbum-<%=index%>">Edit</button>
                                <form action="/<%=album.name%>?_method=DELETE" method="POST">
                                    <div>
                                        <button class="dropdown-item" type="submit">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <%} else{ %>
                    <div class ="album-container-heading">
                        <div class="btn-group">    
                            <a href="/albums/<%= album.name%>" class="btn album-name-btn"><%=album.name%></a>
                            <button type="button" class="btn dropdown-toggle px-3 album-name-edit-btn" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/albums/<%= album.name%>">View</a>
                                <% if(currentUser.albumsFollowing.includes(album.name)) { %>
                                    <form action = '/album/unfollow' method = 'POST'>
                                        <div>
                                            <input type ="hidden" name="albumName" value="<%=album.name%>"/>
                                            <button class="dropdown-item"  type="submit">Unfollow</button>
                                        </div>
                                    </form>
                                <% }else{ %>
                                    <form action = '/album/follow' method = 'POST'>
                                        <div>
                                            <input type ="hidden" name="albumName" value="<%=album.name%>"/>
                                            <button class="dropdown-item" type="submit">Follow</button>
                                        </div>
                                    </form>
                                <%} %>
                            </div>
                        </div>
                    </div>
                <%} %>
                <img class="album-image-container" src="<%=album.images[0].url%>">
                <div>
                    <h4>Total Followers: <%=album.followersCount%></h4>
                    <h4>Total Images: <%=album.images.length%></h4>
                    <h4 class="album-description-container"><%=album.description%></h4>
                </div>
                <div>
                    <% if (album.hasOwnProperty('updatedAt')){%>
                    <% const relativeUpdatedTime=moment(album.updatedAt).fromNow() %>
                        <% if(album.updatedBy=== currentUser.username){%>
                            <h6>Updated <%=relativeUpdatedTime%> by <strong>you</strong></h6>
                        <% } else { %>
                            <h6>Updated <%=relativeUpdatedTime%> by <a href="/users/<%= album.updatedBy%>"><%=album.updatedBy%></a></h6>
                        <%} %>
                    <%} %>
                    <% const relativeTime=moment(album.createdAt).fromNow() %>
                    <% if(album.owner=== currentUser.username){%>
                        <h6>Created <%=relativeTime%> by <strong>you</strong></h6>
                    <% } else { %>
                        <h6>Created <%=relativeTime%> by <a href="/users/<%= album.owner%>"><%=album.owner%></a></h6>
                    <%} %>
                </div>    
        </div>
        <% }) %>
    </div>
</body>
</html>