<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
</br>
</br>
</br>
    <h1 class='page-heading'>Albums</h1>
    <div class="albums">
    <% data.forEach( album => { %>
        <div class="album-card">
                <% if(currentUser.username === album.owner){ %>
                    <div class="buttons-action">
                        <a href="/albums/<%= album.name%>">
                            <button class="btn btn-sm" id="view-btn">View</button>
                        </a>
                        <a href="/albums/<%= album.name%>">
                            <button class="btn btn-sm" id="edit-btn">Edit</button>
                        </a>
                        <form action="/<%=album.name%>?_method=DELETE" method="POST">
                            <div>
                                <button class="btn btn-sm" id="delete-btn" type="submit">Delete</button>
                            </div>
                        </form>
                    </div>
                <%} else{ %>
                    <div class="buttons-action">
                        <a href="/albums/<%= album.name%>">
                            <button class="btn btn-sm" id="view-btn">View</button>
                        </a>
                        <% if(currentUser.albumsFollowing.includes(album.name)) { %>
                            <form action = '/album/unfollow' method = 'POST'>
                                <div>
                                    <input type ="hidden" name="albumName" value="<%=album.name%>"/>
                                    <button class="btn btn-sm" id="unfollow-btn" type="submit">Unfollow</button>
                                </div>
                            </form>
                        <% }else{ %>
                            <form action = '/album/follow' method = 'POST'>
                                <div>
                                    <input type ="hidden" name="albumName" value="<%=album.name%>"/>
                                    <button class="btn btn-sm" id="follow-btn" type="submit">Follow</button>
                                </div>
                            </form>
                        <%} %>
                    </div>
                <%} %>
                <h3 class="album-name-container"><%=album.name%></h3>
                <img class="album-image-container" src="<%=album.images[0].url%>">
                <h4>Total Followers: <%=album.followersCount%></h4>
                <h4>Total Images: <%=album.images.length%></h4>
                <h4 class="album-description-container"><%=album.description%></h4>
                <% const relativeTime=moment(album.createdAt).fromNow() %></h3>
                <h5>Created <%=relativeTime%> by <%=album.owner%></h5>
        </div>
        <% }) %>
        <div class="album-card">
            <a href="/albums/new">
                <button class="btn" id="add-btn">Add New Album</button>
            </a>
        </div>
    </div>
</body>
</html>