<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    </br>
    </br>
    </br>
    <h1 class='page-heading'>Following Albums</h1>
    <div class="list-following-container">
        <div class="list-following-container-flex">
            <% if(userData.albumsFollowing.length>0){ %>
            <% userData.albumsFollowing.forEach( album => { %>
                <a class="albums-following" href="/albums/<%= album%>"><%=album%></a>      
            <% }) %>
            <% } else { %>
                <h2 class="albums-following">None</h2>
            <% } %>
        </div>
    </div>
<br>
    <h1 class='page-heading'>Following Users</h1>
    <div class="list-following-container">
        <div class="list-following-container-flex">
            <% if(userData.usersFollowing.length>0){ %>
            <% userData.usersFollowing.forEach( user => { %>
                <a class="users-following" href="/users/<%= user%>"><%=user%></a>      
            <% }) %>
            <% } else { %>
                <h2 class="users-following">None</h2>
            <% } %>
        </div>
    </div>
<br>
<br>
<br>
    <%- include('../partials/footer.ejs') %>
</body>
</html>