<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/images.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
<br>
<br>
<br>
    <h1 class='page-heading'>All Images</h1>
    <div class="all-images-container">
        <%data.forEach((album,albumIndex) =>{%>
            <%album.images.forEach((image,imageIndex) =>{ %>
                <div class="modal fade" id="show-album-<%=albumIndex%>image-<%=imageIndex%>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4><%=album.name%></h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body flex-comment-center">
                                <div>
                                    <img class="image-modal" src="<%=image.url%>"> 
                                </div>
                                <!-- ADD COMMENT -->
                                <form action="/api/comment/<%=album.name%>/<%=imageIndex%>" method="GET"> 
                                    <div class="form-group">
                                        <label id="user-comment-heading" for="comment"><%=currentUser.username %></label>
                                        <input class="form-control new-comment" type='text' name='comment' placeholder="Share a feedback or a question" maxlength="250" pattern="^[^ ].+[^ ]$" required>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn float-right-btn modal-confirm-btn submit-comment"
                                        id="<%=album.name; %>&<%= imageIndex; %>">
                                        Comment <i class="fa fa-comment-o" aria-hidden="true"></i></button>
                                    </div>
                                </form> 
                                <br>
                                <br>
                                <h3><strong>Comments</strong></h3>
                                <!-- ALL COMMENTS -->
                                <div class="image-all-comments-container">
                                        
                                        <% image.comments.forEach((comment,commentIndex)=> { %>
                                        <div class="image-individual-comment">
                                            <h3 class="comment-style"><%=comment.comment%></h3>
                                            <div class="show-comment-footer"> 
                                                <% if(comment.commentedBy === currentUser.username){%>
                                                <h4 class='footer-text'>commented by <strong class="own-tag">you</strong></h4>               
                                                <%} else {%> 
                                                <h4 class='footer-text'>commented by <a class="owner-tag" href="/users/<%=comment.commentedBy%>"><%=comment.commentedBy%></a></h4>
                                                <%} %>
                                                <% const relativeTime=moment(comment.commentedAt).fromNow() %></h3>
                                                <h5 class='footer-text'><%=relativeTime%></h5>
                                                <% if (comment.hasOwnProperty('updatedAt')){%>
                                                <% const relativeTime=moment(comment.updatedAt).fromNow() %></h3>
                                                <h5 class='footer-text'>edited <%=relativeTime%></h5>
                                                <% } %>
                                            </div>
                                        </div>
                                        <% }) %>
                                        <div>
                                            <h3></h3>
                                        </div>
                                </div>
                                <br>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="square-image-container">
                    <input data-toggle="modal" data-target="#show-album-<%=albumIndex%>image-<%=imageIndex%>" 
                        class="square-image"type="image" src="<%=image.url%>" alt="submit">
                    <div class= "image-container-footer">
                        <% if (currentUser.username===image.uploadedBy){ %>
                            <h6 class="tag">uploaded by <strong><a class="own-tag" href="account">you</a></strong></h6>
                        <% } else { %>
                            <h6 class="tag">uploaded by <strong><a class="owner-tag" href="/users/<%=image.uploadedBy%>"><%=image.uploadedBy%></a></strong></h6>
                        <% } %>
                            <h6 class="tag">in <a class="album-tag" href="/albums/<%=album.name%>"><%=album.name%></a></h6>
                    </div>
                </div>
            <% }) %>
        <% }) %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>