<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1 id='username-top-right-corner'><%= currentUser.username %></h1>
    <h1 class='page-heading'>Albums</h1>
    <div class="albums">
        <% data.forEach( album => { %>
        <div class="album-card">
            <a href="#">
                <h3><%=album.name%></h3>
                <img src="<%=album.image%>" class="album-image">
                <h4><%=album.description%></h4>
            </a>
        </div>
        <% }) %>
    </div>
</body>
</html>