<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1 id='username-top-right-corner'><%= currentUser.username %></h1>
    <h1 class='page-heading'>Albums</h1>
    <div class="albums">
        <% data.forEach( album => { %>
        <div class="album-card">
                <a href="/albums/<%= album.name%>">
                <% if(currentUser.username === album.owner){ %>
                    <button class="owner-tag">Owner</button>
                    <button class="edit-button">Edit</button>
                <%} else{ %>
                    <button class="follow-button">Follow</button>
                    <button class="view-button">view</button>
                <%} %>
                <h3 class="album-name-container"><%=album.name%></h3>
                <img class="album-image-container" src="<%=album.images[0].url%>">
                <h4 class="album-description-container"><%=album.description%></h4>
            </a>
        </div>
        <% }) %>
        <div class="album-card">
            <a href="/albums/new">
                <button>add new album</button>
            </a>
        </div>
    </div>
</body>
</html>