<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/showAlbum.css">
    <link rel="stylesheet" type="text/css" href="/styles/comments.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    </br>
    </br>
    </br>
    <div class="album-details-container">
        <% if(currentUser.albumsFollowing.includes(album.name)) { %>
            <form action = '/album/unfollow' method = 'POST'>
                <div>
                    <input type ="hidden" name="albumName" value="<%=album.name%>"/>
                    <button class="btn float-right-btn" id="follow-btn" type="submit">Unfollow</button>
                </div>
            </form>
        <% }else{ %>
            <form action = '/album/follow' method = 'POST'>
                <div>
                    <input type ="hidden" name="albumName" value="<%=album.name%>"/>
                    <button class="btn float-right-btn" id="follow-btn" type="submit">Follow</button>
                </div>
            </form>
        <%} %>
        <h3><strong>Album Name : </strong><%=album.name%></h3>
        <h4><strong>Description : </strong><%=album.description%></h4>
        <h4><strong>Total Images : </strong><%=album.images.length%></h4>
        <h4><strong>Total Followers: </strong> <%=album.followersCount%></h4>
        <button type="button" class="btn" id="add-btn" data-toggle="modal" data-target="#add-image-modal">Add Image</button>
        <br>
        <br>
    </div>
    <div class="modal fade" id="add-image-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Add Image into <%=album.name%></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action = '/image/create' method = 'POST' enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for = "albumName">Album Name</label>
                            <input type="hidden" class="form-control-plaintext" name='albumName' value="<%=album.name%>"/>
                        </div>
                        <div class="form-group">
                            <label for='image'>Image</label>
                            <input class="form-control-file" name="image" type="file" required/>
                        </div>
                        <div class="form-group">
                            <label for='comment'>Image Description</label>
                            <input class="form-control" type='text' name='comment' placeholder="Enter Image description" maxlength="250" pattern="^[^ ].+[^ ]$" required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add New Image</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </br>
    <div class="image-and-comments-wrapper">
        <%- include('../partials/imageandcomment.ejs')%>
    </div>
</body>
</html>