<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/showUser.css">
    <link rel="stylesheet" type="text/css" href="/styles/comments.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
</br>
</br>
</br>
    <div class="header-container-show">
        <div>
            <% if(currentUser.usersFollowing.includes(userData.username)) { %>
                <form action = '/user/unfollow' method = 'POST'>
                    <div>
                        <input type ="hidden" name="userName" value="<%=userData.username%>"/>
                        <button class="btn" id="profile-follow-btn" type="submit">Unfollow</button>
                    </div>
                </form>
            <% }else{ %>
                <form action = '/user/follow' method = 'POST'>
                    <div>
                        <input type ="hidden" name="userName" value="<%=userData.username%>"/>
                        <button class="btn" id="profile-follow-btn" type="submit">Follow</button>
                    </div>
                </form>
            <%} %>
        </div>
        <h1 id="header-show-text">Username : <%=userData.username%></h1>
    </div>
    <%- include('../partials/profile.ejs') %>
</body>
</html>