<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/showAlbum.css">
    <link rel="stylesheet" type="text/css" href="/styles/comments.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    </br>
    </br>
    </br>
    <h1 id='username-top-right-corner'><%= currentUser.username %></h1>
    <div class="album-details-container">
        <h3><strong>Album Name : </strong><%=album.name%></h3>
        <h4><strong>Description : </strong><%=album.description%></h4>
        <h4><strong>Total Images : </strong><%=album.images.length%></h4>
        <a class="btn" href="/<%=album.name%>/image/new" id="upload-btn">Add Image</a>
    </div>
    </br>
    <%- include('../partials/imageandcomment.ejs')%>
</body>
</html>