<%  let imageIndex =0;   %>
<% album.images.forEach(image => { %> 
<div class='image-and-comments-container'>  
    <div class="individual-image">
        <div class="image-container">
            <h4>Image <%=imageIndex+1 %></h4>
            <img class="image-show" src="<%=image.url%>">
            <div class="image-details">
                <h2 id="uploadedBy">Uploaded by <strong><%=image.uploadedBy%></strong></h2>
                <% if(currentUser.username === image.uploadedBy){ %>
                <% if (imageIndex !==0) { %>
                    <form action="/<%=album.name%>/image/<%=imageIndex%>?_method=DELETE" method="POST">
                        <div>
                            <button class="btn btn-sm" id="delete-btn-right" type="submit">Delete Image</button>
                        </div>
                    </form>
                <% } %>
                <% } %>
            </div>
        </div>
        <div class="comments-container"> 
            <div class="add-comment-container">
                <form action = '/comment/create' method = 'POST'>
                    <div class="form-group">
                        <label id="user-comment-heading" for="comment"><%=currentUser.username %></label>
                        <input class="form-control" type='text' name='comment' placeholder="Share a feedback or a question" required>
                    </div>
                    <div>
                        <input type ="hidden" name="imageID" value="<%=imageIndex%>"/>
                        <input type ="hidden" name="albumName" value="<%=album.name%>"/>
                        <button type="submit" class="btn" id="comment-btn">
                            Comment <i class="fa fa-comment-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
            <h3>Comments</h3>
            <div class="scrollable-comments">
                <%let commentIndex = image.comments.length -1; %>
                <%let commentIndexCommon = 0; %>
                <% image.comments.reverse().forEach(comment => { %>
                <div class="comment">
                    <h3><%=comment.comment%></h3>
                    <div class="comment-footer">
                        <% if(comment.commentedBy === currentUser.username){%>
                            <div class ="comment-footer-owner">
                                <h4>commented by <strong id="own-comment">you</strong></h4>
                                <div class="btn-group dropleft">
                                    <button class="edit-group-button dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">...</button>
                                    <div class="dropdown-menu">
                                        <button type="button" class="dropdown-item"
                                            data-toggle="modal" data-target="#editComment-<%=commentIndex%>">Edit</button>
                                        <form action="/<%=album.name%>/<%=imageIndex%>/<%=comment.commentIndex%>?_method=DELETE" method="POST">
                                            <div>
                                                <button class="dropdown-item" type="submit">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            
                        <% if(commentIndex!==0){ %>
                            <div class="modal fade" id="editComment-<%=commentIndex%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLabel">Edit Comment</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <% const commentIndexModal = image.comments.length - commentIndex - 1 %>
                                        </div>
                                        <form action="/<%=currentUser.username %>/<%= album.name%>/<%=imageIndex%>/<%=commentIndex%>?_method=PUT" method="POST">
                                            <div class="flex-center">
                                                <img class="album-image-modal" src="<%=album.images[imageIndex].url%>">
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <input class="form-control" type='text' name='comment' value="<%=album.images[imageIndex].comments[commentIndexModal].comment%>" required/>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Update Comment</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <%} else {%>
                        <h4>commented by <a id="username-comment" href="/users/<%=comment.commentedBy%>"><%=comment.commentedBy%></a></h4>
                        <%} %>
                        <% const relativeTime=moment(comment.commentedAt).fromNow() %></h3>
                        <h5><%=relativeTime%></h5>
                    </div> 
                    <% commentIndex -- %>
                </div>
                <%}) %>
            </div>
            <% imageIndex++ %>
        </div>
    </div> 
</div>
<%})%> 