<% album.images.forEach((image,imageIndex) => { %> 
<div class='image-and-comments-container'>  
    <div class="individual-image">
        <div class="image-container">
            <h4>Image <%=imageIndex+1 %></h4>
            <img class="image-show" src="<%=image.url%>">
            <div class="image-details">
                <% if(currentUser.username === image.uploadedBy){ %>
                    <h2 id="uploadedBy">Uploaded by <strong>you</strong></h2>
                <% if (imageIndex !==0) { %>
                    <form action="/<%=album.name%>/image/<%=imageIndex%>?_method=DELETE" method="POST">
                        <div>
                            <button class="btn btn-outline-danger btn-sm" type="submit">Delete Image</button>
                        </div>
                    </form>
                <% } %>
                <% } else { %>
                    <h2 id="uploadedBy">Uploaded by <strong><%=image.uploadedBy%></strong></h2>
                <% } %>
            </div>
        </div>
        <div class="comments-container"> 
            <div class="add-comment-container">
                <form action = '/comment/create' method = 'POST'>
                    <div class="form-group">
                        <label id="user-comment-heading" for="comment"><%=currentUser.username %></label>
                        <input class="form-control" type='text' name='comment' placeholder="Share a feedback or a question" maxlength="250" pattern="^[^ ].+[^ ]$" required>
                    </div>
                    <div>
                        <input type ="hidden" name="imageID" value="<%=imageIndex%>"/>
                        <input type ="hidden" name="albumName" value="<%=album.name%>"/>
                        <button type="submit" class="btn" id="comment-btn">
                            Comment <i class="fa fa-comment-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
            <h3>Comments</h3>
            <div class="scrollable-comments">
                <% image.comments.forEach((comment,commentIndex) => { %>
                <div class="comment">
                    <h3><%=comment.comment%></h3>
                    <div class="comment-footer">
                        <% if(comment.commentedBy === currentUser.username){%>
                            <div class ="comment-footer-owner">
                                <h4>commented by <strong id="own-comment">you</strong></h4>
                                <div class="btn-group dropleft">
                                    <button class="edit-group-button dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">...</button>
                                    <div class="dropdown-menu">
                                        <button type="button" class="dropdown-item"
                                            data-toggle="modal" data-target="#editComment-<%=album.name%>-<%=imageIndex%><%=commentIndex%>">Edit</button>
                                        <% if(commentIndex !==0){ %>
                                            <form action="/comment/album/<%=album.name%>/<%=imageIndex%>/<%=comment.commentIndex%>?_method=DELETE" method="POST">
                                                <div>
                                                    <button class="dropdown-item" type="submit">Delete</button>
                                                </div>
                                            </form>
                                        <% } %> 
                                    </div>
                                </div>    
                            </div>
                            <div class="modal fade" id="editComment-<%=album.name%>-<%=imageIndex%><%=commentIndex%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLabel">Edit Comment</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="/comment/album/<%=currentUser.username %>/<%=album.name%>/<%=imageIndex%>/<%=commentIndex%>?_method=PUT" method="POST">
                                            <div class="flex-center">
                                                <img class="album-image-modal" src="<%=album.images[imageIndex].url%>">
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <input class="form-control" type='text' name='comment' value="<%=album.images[imageIndex].comments[commentIndex].comment%>" required/>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Update Comment</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <%} else {%> 
                        <h4>commented by <a id="username-comment" href="/users/<%=comment.commentedBy%>"><%=comment.commentedBy%></a></h4>
                        <%} %>
                        <% const relativeTime=moment(comment.commentedAt).fromNow() %></h3>
                        <h5><%=relativeTime%></h5>
                        <% if (comment.hasOwnProperty('updatedAt')){%>
                            <% const relativeTime=moment(comment.updatedAt).fromNow() %></h3>
                        <h5>edited <%=relativeTime%></h5>
                        <% } %>
                    </div> 
                </div>
                <%}) %>
            </div>
        </div>
    </div> 
</div>
<%})%> 